/* html { */
/* } */

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: 4rem;
  position: absolute;
  bottom: 100px;
}

#p1Score {
  left: 35%;
}

#p2Score {
  right: 35%;
}
